{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    "styled-jsx/babel",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src"
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
